table {
    width: 100%;
}

td, th {
    border-bottom:1px solid #fff;
    padding: 1rem;
    font-size: 1.3em;
    text-align: left;

    &.text-right {
        text-align: right;
    }

    &.image {
        padding: 0;
    }
}