.page-home {
    .event {
        position: relative;
        padding: 4em;
        margin-top: 8em;
        text-decoration: none;
        display: block;
        -webkit-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
        transition: background-color 200ms linear;

        @include media-breakpoint-down(md) {
            padding: 1.5em;
            margin-top: 6em;
        }

        &:hover,
        &:active {
            background-color: rgba(0, 0, 0, 0.9);
        }

        .icon {
            font-size: 12em;
            position: relative;
            top: -0.55em;
            left: -0.55em;

            @include media-breakpoint-down(md) {
                font-size: 7em;
            }
        }

        label {
            font-size: 1.15em;
            display: block;
            position: absolute;
            right: -0.65em;
            top: 2em;
            padding: 0.5em 1em;
            background: red;
            border-radius: 0.1s5em;
            font-weight: bold;
            text-transform: uppercase;

            @include media-breakpoint-down(md) {
                font-size: 0.85em;
                top: 1.5em;
            }

            span {
                color: red;
                opacity: 0.85;
                font-size: 0.85em;
                position: absolute;
                bottom: -1.5em;
                left: 0;
                width: 100%;
                text-align: center;
            }
        }

        h5 {
            margin: 0;
            opacity: 0.75;
            font-weight: 600;
            text-transform: uppercase;
        }

        .details {
            margin-top: -4em;

            h1 {
                font-size: 4em;
                max-width: 80%;

                @include media-breakpoint-down(md) {
                    font-size: 2em;
                    max-width: 100%;
                }
            }

            h2 {
                margin-top: 0.5rem;

                @include media-breakpoint-down(md) {
                    font-size: 1em;
                    line-height: 1.5;
                    opacity: 0.65;
                    margin-top: -0.5em;
                }
            }

            p {
                opacity: 0.65;
                max-width: 80%;

                @include media-breakpoint-down(md) {
                    display: none;
                }
            }

            .button {
                text-transform: uppercase;
                color: var(--green);
            }
        }
    }

    #intro {
        margin: 3em 0 15em;
        max-width: 65%;

        @include media-breakpoint-down(md) {
            max-width: 100%;
            margin: 0 0 10em;
        }

        .portal-frame {
            z-index: -1;
            position: absolute;
            bottom: -11em;
            left: -3.5em;

            @include media-breakpoint-down(md) {
                bottom: -7.5em;
                left: -2.5em;
            }
        }

        h1 {
            font-size: 15.5em;
            font-weight: 700;
            position: relative;
            top: 0.25em;
            opacity: 1;

            @include media-breakpoint-down(md) {
                font-size: 5em;
                margin-top: 0.5em;
            }
        }

        p {
            font-size: 1.8em;
            position: relative;
            left: 4.3em;
            top: 1.6em;
            padding: 1em;
            z-index: 3;

            @include media-breakpoint-down(md) {
                font-size: 0.95em;
                top: 2.25em;
                left: 4em;
                padding: 0;
                width: 85%;
            }
        }
    }

    .projects {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2em;

        @include media-breakpoint-down(md) {
            grid-template-columns: auto auto;
            grid-gap: 1em;
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: auto;
            grid-gap: 2em;
        }

        .project {
            position: relative;
            padding: 3em;
            text-decoration: none;
            font-style: normal;

            .icon {
                position: relative;
                top: -0.5em;
                font-size: 7em;
            }

            h2 {
                margin: -1em 0 0;
                font-size: 1.85em;
            }

            h3 {
                margin: 0.5em 0 0;
                font-size: 1.25em;
                opacity: 0.5;
            }
        }
    }

    #community {
        margin: 7.5em 0;

        @include media-breakpoint-down(md) {
            margin: 5em 0 10em;
        }

        .vault {
            position: relative;
            display: block;
            text-decoration: none;

            .blob {
                position: absolute;
                left: 0;
                top: 0;
            }

            @include media-breakpoint-down(md) {
                position: relative;
            }

            .blob-wrapper {
                font-size: 2em;
                z-index: 2;
                position: relative;
                text-align: center;
                left: 2em;
                height: 10em;

                @include media-breakpoint-down(md) {
                    font-size: 1.75em;
                    left: 0;
                }
            }

            p.call-out {
                position: absolute;
                right: 0;
                width: 60%;
                top: 23%;
                font-size: 1.25em;

                @include media-breakpoint-down(md) {
                    position: relative;
                    right: auto;
                    top: auto;
                    width: 100%;
                    margin: 2em 0 2em;
                }
            }
        }
    }

    #enablers {
        display: grid;
        grid-template-columns: auto auto;
    }
}