footer {
    text-align: left;
    margin-top: 8rem;
    border-radius: 3rem;
    font-size: 0.65rem;
    padding: 1.5rem 2rem;
    background-color: rgba(0, 0, 0, 0.35);

    @include media-breakpoint-down(md) {
        text-align: left;
        border-radius: 1.5rem;
    }

    .socials {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 0.75rem;

        @include media-breakpoint-down(md) {
            display: grid;
            text-align: center;
        }

        a {
            font-size: 2.5rem;

            @include media-breakpoint-down(md) {
                font-size: 2.15rem;
            }
        }
    }

    p {
        font-size: 1.25rem;
        margin: 0.5rem 0 0;
        padding: 0;
        opacity: 0.5;
        
        @include media-breakpoint-down(md) {
            margin: 1rem 0 0;
            font-size: 1.05rem;
        }
    }
    
    .copyleft {
        display: inline-block;
        transform: rotate(180deg);
    }
}
