.page-home {
    .event {
        position: relative;
        margin-top: 8rem;
        border-radius: 0.75rem;
        display: block;
        -webkit-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
        cursor: pointer;
        background: transparent url('/assets/images/workdesk-ii.jpg') no-repeat center center / cover;

        @include media-breakpoint-down(md) {
            background: transparent url('/assets/images/workdesk-ii.jpg') no-repeat;
            background-size: cover;
            background-position: 70% -0%;
            margin-top: 1rem;
        }

        .boxy {
            cursor: pointer;
            padding: 4rem;
            display: block;
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.75);

            &:hover,
            &:active {
                background-color: rgba(0, 0, 0, 0.75);
            }

            @include media-breakpoint-down(md) {
                background-color: rgba(0, 0, 0, 0.75);
                padding: 1.5rem;
            }
        }

        .icon {
            font-size: 12rem;
            position: relative;
            top: -0.55em;
            left: -0.55em;

            @include media-breakpoint-down(md) {
                font-size: 7rem;
            }
        }

        label {
            font-size: 1.15rem;
            display: block;
            position: absolute;
            right: -0.65rem;
            top: 2rem;
            padding: 0.5em 1rem;
            background: red;
            border-radius: 0.1s5rem;
            font-weight: bold;
            text-transform: uppercase;

            @include media-breakpoint-down(md) {
                font-size: 0.9rem;
                top: 1.5rem;
            }

            span {
                color: --var(white);
                opacity: 0.85;
                font-size: 0.85rem;
                position: absolute;
                bottom: -1.5rem;
                left: 0;
                width: 100%;
                text-align: center;
            }
        }

        h5 {
            margin: 0;
            opacity: 0.75;
            font-weight: 600;
            text-transform: uppercase;
        }

        .details {
            margin-top: -4rem;

            h1 {
                font-size: 4rem;
                max-width: 80%;
                margin-bottom: 0.5rem;

                @include media-breakpoint-down(md) {
                    font-size: 1.75rem;
                    max-width: 100%;
                }
            }

            h2 {
                margin-top: 0.5rem;
                margin-bottom: 1em;

                @include media-breakpoint-down(md) {
                    font-size: 1.25rem;
                    line-height: 1.5;
                    opacity: 0.65;
                    margin-top: -1rem;
                }
            }

            p {
                opacity: 0.65;
                max-width: 80%;

                @include media-breakpoint-down(md) {
                    display: none;
                }
            }

            .button {
                text-transform: uppercase;
                color: var(--green);
            }
        }
    }

    #intro {
        margin: 3em 0 15rem;
        max-width: 65%;

        @include media-breakpoint-down(md) {
            max-width: 100%;
            margin: 3rem 0 14rem;
        }

        .portal-frame {
            z-index: -1;
            position: absolute;
            bottom: -13em;
            left: -5em;

            @include media-breakpoint-down(md) {
                bottom: -7.5em;
                left: -2.5em;
            }

            @include media-breakpoint-down(sm) {
                bottom: -10.5em;
                left: -4.25em;
            }
        }

        h1 {
            font-size: 15.5rem;
            font-weight: 700;
            position: relative;
            top: 0.25em;
            display:inline-block;
            opacity: 1;

            @include media-breakpoint-down(md) {
                font-size: 4rem;
                margin-top: 0.5rem;
                top: 3.75rem;
                left: 2rem;
            }
        }

        p {
            font-size: 1.8rem;
            line-height: 1.25em;
            position: relative;
            left: 4.3em;
            top: 1.6em;
            padding: 1rem;
            z-index: 3;

            @include media-breakpoint-down(md) {
                font-size: 1rem;
                top: 2rem;
                left: 3rem;
                padding: 0;
                width: 85%;
            }
        }
    }

    .projects {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2rem;

        @include media-breakpoint-down(md) {
            grid-template-columns: auto auto;
            grid-gap: 1rem;
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: auto;
            grid-gap: 2rem;
        }

        .project {
            position: relative;
            padding: 3rem;
            text-decoration: none;
            font-style: normal;

            .icon {
                position: relative;
                top: -0.5em;
                font-size: 7rem;

                @include media-breakpoint-down(md) {
                    font-size: 6.5rem;
                }
            }

            h2 {
                margin: -1em 0 0;
                font-size: 1.85rem;

                @include media-breakpoint-down(md) {
                    font-size: 1.65rem;
                }
            }

            h3 {
                margin: 0.5em 0 0;
                font-size: 1.25rem;
                opacity: 0.5;

                @include media-breakpoint-down(md) {
                    font-size: 1.15rem;
                }
            }
        }
    }

    #community {
        margin: 7.5rem 0 3rem;

        @include media-breakpoint-down(md) {
            margin: 7.5rem 0 0;
        }

        .vault {
            position: relative;
            display: block;
            text-decoration: none;

            @include media-breakpoint-down(sm) {
                overflow-x: hidden;
                padding: 2em 0 0;
            }

            .blob {
                position: absolute;
                left: 0;
                top: 0;
            }

            @include media-breakpoint-down(md) {
                position: relative;
            }

            .blob-wrapper {
                font-size: 2rem;
                z-index: 2;
                position: relative;
                text-align: center;
                left: 2rem;
                height: 20rem;

                @include media-breakpoint-down(md) {
                    font-size: 1.75rem;
                }
            }

            p.call-out {
                position: absolute;
                right: 0;
                width: 60%;
                top: 23%;
                font-size: 1.25rem;

                @include media-breakpoint-down(md) {
                    position: relative;
                    right: auto;
                    top: auto;
                    width: 100%;
                    margin: -2em 0 2rem;
                }
            }
        }
    }

    #enablers {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 4rem;

        @include media-breakpoint-down(md) {
            grid-gap: 0;
            grid-template-columns: auto;
        }

        h3 {
            position: relative;
            top: 8.5em;
            left: 4em;
            background-color: black;
            padding: 0.45rem 0.75rem;
            border-radius: 2rem;
            display: inline-block;

            @include media-breakpoint-down(md) {
                left: 0;
            }
        }

        img {
            display: block;
            max-width: 15rem;
            border-radius: 100rem;
        }

        p {
            font-size: 1.3rem;
        }
    }
}